/* Основной стиль для всего сайта */
body {
    font-weight: bold; /* Весь текст на странице жирный */
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Путь к картинке */
    background-size: cover; /* Картинка покрывает весь экран */
    background-position: center center; /* Центрируем картинку */
    background-attachment: fixed; /* Картинка не прокручивается */
    color: #808080; /* Серый цвет текста */
    margin: 0;
    padding: 0;
}

/* Стиль для заголовков */
h1, h2 {
    color: #2c3e50;
}

/* Оформление для секций */
section {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон для секций */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Оформление для футера */
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}